@media screen and (max-width: 768px) {
    .menu {
        display: block;
    }

    .botoes {
        display: none;
    }
}

@media screen and (min-width: 769px) {
    .menu {
        display: none;
    }

    .botoes {
        display: block;
    }
}
